* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headContainer {
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 6rem;
  padding: 0 4vw;
  font-family: 'Oswald', sans-serif;
}
.headContainer h1 {
  margin: auto 0;
  font-size: 3rem;
}
.headContainer nav {
  grid-column: 2/-1;
}
.headContainer nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  font-size: 1.5rem;
}
.headContainer nav ul li {
  padding: 0 2vw;
}