* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(21, 42, 110);;
}

@keyframes become {
  from {opacity: 0%}
  to {opacity: 100%}
}

@keyframes grow {
  to {width: 100%}
}

.headContainer {
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 15vh;
  padding: 0 4vw;
  font-family: 'Oswald', sans-serif;
}
.headContainer h1 {
  margin: auto 0;
  font-size: 4rem;
}
.headContainer nav {
  grid-column: 2/-1;
}
.headContainer nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
  font-size: 2rem;
}
.headContainer nav ul li {
  padding: 0 2vw;
}
.nav-active {
  color: brown;
}

main {
  height: 77vh;
  background-color: rgb(21, 42, 110);
  padding: 2rem 6vw;
  font-size: 1.8rem;
  color: gainsboro;
  /* animation-name: become;
  animation-duration: 1s; */
}

.project-container {
  width: 40vw;
  margin: auto;
}
.project-container section {
  display: flex; 
}
.project-container section:nth-child(2) {
  justify-content: flex-end;
}
.project-container section div{
  background-color: goldenrod;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  text-align: center;
  min-width: 15rem;
  min-height: 15rem;
  display: flex;
  ALIGN-ITEMS: center;
  transition: ease-in-out 1s;
  padding: 1rem;
}
.project-container section div:hover{
  height: 30vw;
  width: 100%;
  border-radius: 10%;
  align-items: flex-start;
}
.hidden {
  opacity: 0%;
  visibility: hidden;
}

footer {
  height: 8vh;
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}